$color-focus-outline: #2E90FA3D;
$color-focus: #1570EF;
$color-text-primary: #1570EF;

$color-title-text: #3F3F46;
$color-helper-text: #51525C;
$color-placeholder: #D1D1D6;
$color-border: #D1D1D6;
$color-disabled-bg: #FAFAFA;
$color-disabled-text: #E4E4E7;

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small .inputWrapper {
  gap: 8px;
}

.medium .inputWrapper,
.large .inputWrapper {
  gap: 12px;
}

.separator {
  font-size: 60px;
  line-height: 60px;
  font-weight: 500;
  text-align: center;
  color: $color-border;
  margin-left: 12px;
  width: 28px;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: $color-title-text;
}

.helperText {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $color-helper-text;
}

.input {
  text-align: center;
  border: 1px solid $color-border;
  font-weight: 500;
  transition: border-color 0.2s ease-in-out;
  color: $color-text-primary;
  align-items: center;

  &:disabled {
    background-color: $color-disabled-bg;
    color: $color-disabled-text;
    cursor: not-allowed;
  }

  &:disabled:hover {
    border-color: inherit;
  }
}

.input::placeholder {
  color: $color-placeholder;
}

.input:hover {
  border-color: $color-focus;
}

.input:focus {
  border-color: $color-focus;
  outline: 2px solid $color-focus-outline;
}

.input.filled {
  border-color: $color-focus;
}

.small .input {
  width: 64px;
  height: 64px;
  font-size: 48px;
  line-height: 60px;
  border-radius: 8px;
}

.medium .input {
  width: 80px;
  height: 80px;
  font-size: 48px;
  line-height: 60px;
  border-radius: 10px;
}

.large .input {
  width: 96px;
  height: 96px;
  font-size: 60px;
  line-height: 72px;
  border-radius: 12px;
}