@use '../../styles/variables/global' as *;

.tabsHeaderWrapper {
  display: flex;
  flex-direction: column;
}

.tabsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.tabsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; // Ограничиваем видимость вкладок
  white-space: nowrap; // Гарантируем, что вкладки не переносятся
}

.underlineLine {
  height: 2px;
  background: $border-primary;
  width: 100%;
}

.withPadding {
  padding: 0 16px;
}

.spaceStretch {
  justify-content: space-between;
}

.spaceHug {
  justify-content: flex-start;
}