@use '../../styles/variables/global' as *;


.tabButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  font-weight: 600; 
  color: $text-primary;
  transition: all 0.2s ease;


  &.disabled {
    cursor: not-allowed;
    color: $text-disabled;
  }

  &.active {
    color: $text-brand-secondary;
  }

  &.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $bg-brand-solid; 
    border-radius: 1px;
  }

  &.underlineFilled {
    background-color: $bg-brand-primary;
  }
}



.size32 {
  height: 32px;
  padding: 6px 8px;
  font-size: 12px;
  line-height: 20px;
}

.size36 {
  height: 36px;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 24px;
}

.size40 {
  height: 40px;
  padding: 8px;
  font-size: 14px;
  line-height: 24px;
}

.tabLabel {
  display: inline-block;
}

.tabBadge {
  background-color: $bg-secondary;
  border: 1px solid $border-secondary;
  color: $text-secondary;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 0px 6px;
  border-radius: 4px;
  margin-left: 4px;
  transition: all 0.2s ease;

  &.active {
    background-color: $bg-brand-primary;
    color: $text-brand-secondary;
    border-color: $text-secondary_on-brand;
  }
}