.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  flex: 1;
  scrollbar-width: none;

  /* Для Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Для Chrome/Safari */
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }
}